<a routerLink="/servicios/crear" class="btn">
    Crear servicio
</a>
<h1>Mostrar servicios</h1>
<table class="centered">
    <thead>
        <tr>
            <th>Codigo</th>
            <th>Nombre</th>
            <th>Precio</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let servicio of servicios">
            <td>{{servicio.codigo}}</td>
            <td>{{servicio.nombre}}</td>
            <td>{{servicio.precio}}</td>
            <td>
                <a routerLink="/servicios/editar/{{servicio.id}}" class="btn">
                    Editar
                </a>
                <button (click)="eliminarServicio(servicio.id)" class="btn">
                    Eliminar
                </button>
            </td>
        </tr>
    </tbody>
</table>